*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
html{font-size: small;
font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
a{text-decoration: none;}
.body{min-height: 100vh ; width: 100%; align-items: center; justify-content: center;}
img{size: 20px;}