*{
margin: 0;
padding: 0;
}
body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
}
.wrapperr{width: 90%;
margin: auto;}
header{width: 100%;
height: 100px;
background-color: rgb(233, 144, 0);
position: fixed;}
.logo{width: 30%;
float: left;
text-align: left;
line-height: 100px;}
.logo a{
text-decoration: none;
font-size: 30px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: blanchedalmond;
letter-spacing: 4px;
}
nav{float: right;
line-height: 100px;
}
nav a{text-decoration: none; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
letter-spacing: 4px; font-size: 20px;
color: white;
padding: 70px 70px;
margin: 0 1px;
font-weight: 500%;}
nav a:hover{background-color: white; 
color:rgb(220, 6, 127) ;}
.banner{
 background-image: url(wp9353773.webp);
 background-size: cover;
 background-position: center;
 top: 100px;
 height: 100vh;
 position: fixed;
 width: 100%;
}
.banner::after{content: " " ;
 position: absolute;
 top: 0;
 left: 0;
 display: block;
 width: 100%;
 height: 100%;
 background: rgb(220, 162, 0);
 opacity: .7;
 z-index: -1;
}
.banner h2{padding-top: 8%; font-size: 80px; color:white ;}
.wrapper{width: 100%;
height: 800px;
position: relative;
background: white;
top: 550px;

}
.wrapper h2{font-size: 40px;
margin: 0; padding-top: 30px;
letter-spacing: 4px;}
.wrapper p{ padding: 2% 0;

 line-height: 30px ;
 text-align: justify;
}
